<div *ngIf="showBars">
    <app-topbar></app-topbar>
    <app-middlebar></app-middlebar>


     <!-- Bottom Bar -->
     <div class="header-section border-bottom py-3 py-md-0">
      <div class="container">
        <div class="d-md-flex align-items-center position-relative">
          
          <!-- Kategoriler Dropdown -->
          <div class="dropdown me-4">
            <button class="btn dropdown-toggle custom-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-white">{{ 'browseCategories' | translate }}</span>
            </button>
            <ul class="dropdown-menu custom-dropdown-menu">
              <li *ngFor="let c of categories.slice(0, 8); trackBy: trackById">
                <a class="dropdown-item d-flex align-items-center">
                  <img [src]="c.iconImgUrl" class="category-icon me-2">
                  <span>{{ c.name }}</span>
                </a>
              </li>
            </ul>
          </div>
          
          <!-- İkincil Navigasyon -->
          <div class="d-none d-md-block ms-auto">
            <ul class="nav secondary-navigation">
              <li class="nav-item">
                <a routerLink="/categories" class="nav-link" type="button">{{ 'allCategories' | translate }}</a>
              </li>
              <li class="nav-item">
                <a routerLink="/shop-list" class="nav-link" type="button">{{ 'allProducts' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
<!-- End Bottom Bar -->
    


  
    

 