.first {

    height: 100vh;
   
    
    h2 ,p{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
    }
  }
  
  .second{
   background-color: #9f74a51f;
    .form_main {
      margin: auto;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: rgb(255, 255, 255);
      padding-top: 10px;
      
      .heading {
        font-size: 1.8em;
        color: #5d5b5bb6;
        font-weight: 600;
        margin: 15px 0 30px 0;
        padding: 10px;
        border-bottom:2px solid rgba(0, 0, 0, 0.268);
      }
      .inputContainer {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    
        label {
          margin-bottom: 0.3rem; 
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
         
      }
      
       .inputField {
          width: 90%;
          height: 60px;
          border: none;
          border-bottom: 2px solid rgb(199, 114, 255);
          border-radius: 5px;
          margin: 10px 0;
          color: rgb(31, 28, 28);
          padding-left: 15px;
        }
        .inputField:focus {
          outline: none;
          border: 1px solid rgb(199, 114, 255);
        }
        .inputField::placeholder {
          color: rgb(80, 80, 80);
          font-size: 1em;
          font-weight: 550;
         
        }
        
      }
      .form-check{
        margin-top: 30px;
        .form-check-input {
  
          background-color: #5d5b5bb6;
          border: 1px solid #ad58b0; 
          border-radius: 4px; 
          
        }
       
        .form-check-input:focus {
  
         box-shadow:  0 0 0 0.2rem rgba(236, 161, 220, 0.863);
         }
        }
      
      #button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50%;
        border:none;
        border-bottom: 2px solid rgb(211, 88, 211);
        background-color: #2c2b1f;
        height: 50px;
        color: white;
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 10px;
        margin: 15px;
        cursor: pointer;
        overflow: hidden;
        
      }
      #button::after {
        content: "";
        position: absolute;
        background-color: rgba(244, 164, 241, 0.343);
        height: 100%;
        width: 150px;
        top: 0;
        left: -200px;
        border-bottom-right-radius: 100px;
        border-top-left-radius: 100px;
        filter: blur(15px);
        transition-duration: .5s;
      }
      
      #button:hover::after {
        transform: translateX(600px);
        transition-duration: .5s;
      }
      
      .signupContainer1 {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .signupContainer {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    
        a {
          font-size: .7em;
          font-weight: 500;
          background-color: #2e2e2e;
          color: white;
          text-decoration: none;
          padding: 8px 15px;
          border-radius: 20px;
        }
      }
    
      #passwordContainer{
        position: relative;
       
    
        .eye-icon {
        position: absolute;
        top: 70%;
        right: 70px; /* veya uygun bir mesafe belirleyin */
        transform: translateY(-80%);
        cursor: pointer;
      }
      }

      #passwordContainer2{
        position: relative;
       
    
        .eye-icon {
        position: absolute;
        top: 70%;
        right: 70px; /* veya uygun bir mesafe belirleyin */
        transform: translateY(-80%);
        cursor: pointer;
      }
      }
     
      .konum {
        width: 100%;
        display: flex;
        margin-left:50px;
       
      }
    }
    
  
  
  
  
  
  
  
  
   
  
  }
  