<div class="container py-5">
    <div class="row">
     
      <div class="col-12 mb-4 baslik">
        <h2 class="text-uppercase">{{ 'allProducts' | translate }}</h2>
       
      </div>
  
      <!-- Ürün Kartları -->
      <div *ngFor="let item of product" class="outout col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card product-card">
          <div class="position-relative">
            <img [src]="item.img" class="card-img-top product-img rounded-top" alt="product image">
            <span *ngIf="item.productDiscount?.discountPercentage" class="badge badge-discount">
              -%{{ item.productDiscount.discountPercentage }}
            </span>
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text text-muted small text-truncate">
              {{ item.productDetail.description }}
            </p>
            <div class="mt-auto">
              <p class="price mb-2">
                <strong>
                  <span *ngIf="item.productDiscount?.discountedPrice; else normalPrice">
                    <span class="text-danger">{{ item.productDiscount.discountedPrice }} {{ item.price.currency }}</span>
                    <small><del>   {{ item.price.value }} {{ item.price.currency }}</del></small>
                  </span>
                  <ng-template #normalPrice>
                    {{ item.price.value }} {{ item.price.currency }}
                  </ng-template>
                </strong>
              </p>
              <button type="button"  *ngIf="item.quantity!==0" class="btn  w-100" (click)="addToCart(item)">
                {{ 'addToCart' | translate }}
            </button> 
            <button type="button" *ngIf="item.quantity === 0" class="btn w-100 btn-disabled"  disabled> {{ 'outStock' | translate }} 
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  