
body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 1200px;
  
  }
  .baslik 
    {
        font-size: larger;
        color: rgba(93, 55, 102, 0.915);
        font-weight: 200;
        border-left: 2px solid gray;
        padding-left: 8px;
    }

  .product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    border:none;
    box-shadow: 0 2px 5px 0.1rem rgba(93, 55, 102, 0.435);

    .product-img {
      height: 200px; 
      width: 100%;   
      object-fit: contain; 
      object-position: center; 

    }

    .card-body{
      background-color: rgba(163, 90, 163, 0.08);
    }
 
    

    
  }

  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  

  
  /* İndirim Rozeti */
  .badge-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #dc3545;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 12px;
  }
  
  /* Fiyat Bilgisi */
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .price del {
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  /* Buton */
  .btn{
    background-color: rgba(93, 55, 102, 0.915);
    color: white;
}
.btn:hover{
    box-shadow: 0 4px 10px 0.2rem rgba(93, 55, 102, 0.435);
   // box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  