* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    .baslik 
    {
        font-size: larger;
        color: rgba(93, 55, 102, 0.915);
        font-weight: 200;
        border-left: 2px solid gray;
        padding-left: 8px;
    }
     .edit 
     {
            font-weight: 500;
            border-bottom: 1px solid rgba(128, 128, 128, 0.427);
            padding-bottom: 2px;
            font-size: 20px;
     }
     select{
        border: 1.5px solid rgba(0, 0, 0, 0.292);
     }
     select:focus {
        box-shadow: 0 0 0 0.2rem rgba(93, 55, 102, 0.435);
        border: none;
    }
    input {
    border: 1.5px solid rgba(0, 0, 0, 0.292);
    }
    input:focus {
        box-shadow: 0 0 0 0.2rem rgba(93, 55, 102, 0.435);
        border: none;
    }

    .btn{
        // border:2px solid rgba(93, 55, 102, 0.435);
        background-color:  rgba(0, 0, 0, 0.599) ;
        color: rgb(255, 255, 255);
        padding: 10px;
        
        }
        .btn:hover{
        box-shadow: 0 4px 10px 0.2rem rgba(93, 55, 102, 0.435);
       // box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
}