* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
  .site-content {
    .container {
      
      .entry-header {
        padding-top: 20px;
      }

      .entry-title {
        color: rgba(93, 55, 102, 0.557);
        font-weight: 200;
      }

      .row {
        padding-top: 20px;
      
        
        .content-area {
          width: 60%;
          box-shadow: 0 4px 10px 0.2rem rgba(93, 55, 102, 0.659);
          border: 2px solid rgba(0, 0, 0, 0.136);
          border-radius: 15px;
          padding: 15px;
          
          .entry-content {
            .table-responsive {
              background-color: rgb(251, 251, 251);
              
              .shop_table {
                width: 100%;
                margin-bottom: 20px;
      
                .cart_item {
                  .product-name {
                    display: flex;
                    align-items: center;
                    .wishlist-img {
                      width: 70px;
                      height: auto;
                      border-radius: 4px;
                      margin-right: 10px;
                    }
                    }
      
                    a {
                      font-weight: bold;
                      color: #3333335f;
                      text-decoration: none;
                    }
      
                   
                  
      
                  .product-price {
                    font-weight:bold;
                    color: #333;
                    text-align: left; 
                  }
                    .buton{
                   
                    
                      .btn {
                        background-color: rgba(0, 0, 0, 0.599);
                        color: rgb(255, 255, 255);
                        padding: 10px;
                        border: 2px solid rgba(93, 55, 102, 0.435);
                      }
      
                      .btn:hover {
                        box-shadow: 0 4px 10px 0.2rem rgba(93, 55, 102, 0.435);
                      }
                    }
      
                    .single {
                      color:#0b0b0b;
                      font-size: 1.3rem;
                      transition: color 0.2s;
                    }
                    .single:hover{

                     background-color:  rgba(93, 55, 102, 0.435);
                     border-radius: 50%;
                     box-shadow: 0 4px 10px 0.2rem rgba(93, 55, 102, 0.435);
                    }
                    
      
                      .remove {
                        
                        color:#333;
                        font-size: 1.2rem;
                        transition: color 0.2s;
                      }
                      .remove:hover{
                        color: #e3251ed1;
                      }
                    
              }
            }
          }
        }
        }
      }
    }
  }
}
