.right-sidebar {
  background-color: #f8f9fa;
}

.product h1, .product h4 {
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
}

.stok{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 0, 0, 0.693);
  color: white;
  padding: 5px;
  
}

.form-control {
  border-radius: 0;
  font-size: 0.9rem;
}

.product-details ul li {
  margin-bottom: 0.5rem;
}

.star1{
 color: rgba(93, 55, 102, 0.915);
}

.mt-4 {
  display: flex;
  gap: 15px; /* Aralarındaki boşluk */
}

.product {
  position: relative; /* Görselin üstünde konumlandırmak için */
  
  figure {
    position: relative; /* Görseli konumlandırmak için */
    margin-bottom: 0;
    
    .img-fluid {
      height: 500px; /* Görsel boyutunu ayarladık */
      width: 100%; /* Görselin tam genişlikte olmasını sağlamak için */
      //object-fit: cover; /* Görselin düzgün kesilmesini sağlamak için */
    }

    /* İndirim yüzdesi etiketi */
    .badge-discount {
      position: absolute;
      padding: 5px 10px;
      background-color: #dc3545;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}

