.right-sidebar {
  background-color: #f8f9fa;
}

.product h1, .product h4 {
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
}

.rating-list .progress-bar {
  background-color: #ffc107;
}

.rating-list span {
  font-size: 0.9rem;
}

.form-control {
  border-radius: 0;
  font-size: 0.9rem;
}

.product-details ul li {
  margin-bottom: 0.5rem;
}

.mt-4 {
  display: flex;
 
  gap: 15px; /* Aralarındaki boşluk */
}
