<section>
    <main>
        <div class="mt-4">
            <div class="container-sm">
                <!-- Ana Sayfa Dönüş İkonu -->
                <div class="text-center">
                    <a routerLink="/homepage">
                        <i class="fas fa-home fa-lg"></i> 
                    </a>
                </div>

                <div class="text-center mb-5">
                    <h2 class="font-weight-bold text-success">{{'orderReceived' | translate}}</h2>
                    <i class="fas fa-check-circle text-success" style="font-size: 60px;"></i>
                </div>

                <div class="card shadow-sm p-3 mb-5">
                    <div class="mb-4">
                        <h3 class="font-weight-bold">{{'thankyouorder' | translate}}</h3>
                    </div>

                    <!-- Sipariş Bilgisi Tablosu -->
                    <div class="border-bottom pb-3 mb-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th class="text-muted font-size-2">{{'orderNumber' | translate}}:</th>
                                    <th class="text-muted font-size-2">{{'date' | translate}}:</th>
                                    <th class="text-muted font-size-2 text-center">{{'total' | translate}}:</th>
                                    <th class="text-muted font-size-2 text-right">{{'paymentMethod' | translate}}:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="order">
                                    <td class="font-weight-medium">{{order.orderNumber}}</td>
                                    <td class="font-weight-medium">{{order.createAt | date: 'dd.MM.yyyy - HH:mm'}}</td>
                                    <td class="font-weight-medium text-center">
                                        <strong>{{ calcTotal() < 500 ? (calcTotal() + 50) : calcTotal() }} TL</strong>
                                    </td>
                                    <td class="font-weight-medium text-right">{{order.paymentMethod}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Sipariş Detayları -->
                    <div class="mb-4">
                        <h5 class="font-weight-semibold mb-3">{{'orderDetails' | translate}}</h5>
                        <div *ngFor="let product of order.products;">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                    <h6 class="font-size-2 font-weight-medium">{{product.name}} <span class="text-muted">({{product.brand}})</span></h6>
                                </div>
                                <span class="font-size-2 text-muted"> x {{product.quantity}}</span>
                                <span class="font-weight-semibold font-size-2"> <span>
                                    <span *ngIf="product.productDiscount?.discountedPrice; else noDiscount">
                                      {{ product.productDiscount?.discountedPrice ?? 0 * product.quantity  }} {{ product.price.currency }}
                                     
                                    </span>
                                    <ng-template #noDiscount>
                                      <span>
                                        {{ product.price.value * product.quantity }} {{ product.price.currency }}
                                      </span>
                                    </ng-template>
                                  </span></span>
                            </div>
                        </div>
                    </div>

                    <!-- Toplamlar -->
                    <div class="mb-4">
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between pt-2">
                                <span class="font-weight-medium">{{'paymentMethod' | translate}}:</span>
                                <span class="font-weight-medium">{{order.paymentMethod}}</span>
                            </li>
                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">{{'subtotal' | translate}}:</span>
                                <span class="font-weight-medium">{{ calcTotal() }} TL</span>
                            </li>
                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">{{'shipping' | translate}}:</span>
                                <span class="font-weight-medium">
                                    {{ calcTotal() < 500 ? '50' : '0' }} TL
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-between border-top pt-3 mt-4">
                        <span class="font-size-3 font-weight-medium">{{'total' | translate}}</span>
                        <span class="font-weight-semibold font-size-3">
                            {{ calcTotal() < 500 ? (calcTotal() + 50) : calcTotal() }} TL
                        </span>
                    </div>

                    <!-- Adres Bilgileri -->
                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <div class="col-md-6">
                                <h6 class="font-weight-semibold">{{'shippingAddress' | translate}}</h6>
                                <address class="font-size-2 text-muted">
                                    <span> {{payment.address.contactName}} </span><br>
                                    <span>{{payment.address.city}}, {{payment.address.zipCode}}</span><br>
                                    <span>{{payment.address.country}}</span><br>
                                    <span>{{payment.address.description}}</span>
                                </address>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-semibold">{{'billingAddress' | translate}}</h6>
                                <address class="font-size-2 text-muted">
                                    <span>{{payment.billingAddress.contactName}}</span><br>
                                    <span>{{payment.billingAddress.description}}</span><br>
                                    <span>{{payment.billingAddress.city}} {{payment.billingAddress.zipCode}}</span><br>
                                    <span>{{payment.billingAddress.country}}</span>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
