<div class="container order-page">
  <div class="row">
    <div class="col-10">
      <div class="pt-5">
    <h6 class=" baslik">{{ 'orders' | translate }}</h6>
    <!-- Siparişler listesi -->
    <div class="col-lg-9" *ngIf="orders.length > 0">
      <div class="order-list mt-3">
        
        
        <div class="list-group">
          <div class="list-group-item order-item mb-4" *ngFor="let o of orders">
            <div class="order-header d-flex justify-content-between align-items-center">
              <div>
                <h5 class="order-number">{{ 'orderNumber' | translate }}: {{ o.orderNumber }}</h5>
                <p class="order-date text-muted">
                  <i class="bi bi-calendar-event"></i> 
                  {{ 'date' | translate }}: {{ o.createAt | date: 'dd.MM.yyyy HH:mm' }}
                </p>
              </div>
              <span>
                {{ o.status }}
              </span>
            </div>

            <div class="order-body d-flex justify-content-between align-items-center mt-3">
              <p class="order-quantity mb-0 text-secondary">
                <i class="bi bi-box"></i> 
                {{ 'quantity' | translate }}: {{ o.productQuantity }} {{ 'item' | translate }}
              </p>
              <div class="action-buttons">
                <a routerLink="/detail-orders/{{ o.id }}" class="btn buton btn-sm">
                  {{ 'view' | translate }}
                </a>
                <button (click)="deleteOrder(o.id)" class="btn btn-danger btn-sm ml-2">
                  {{ 'removeOrder' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sipariş yok -->
    <div class="col-lg-9" *ngIf="orders.length === 0">
      <div class="no-orders text-center mt-5">
        <h3 class="text-muted">
          <i class="bi bi-bag-x"></i> 
          {{ 'No order has ever been placed.' | translate }}
        </h3>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
